body {
  font-size: 15px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
}


.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
  z-index: 6;
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 50px;
}

.titleMessage .heading .sub {
  font-size: 23px;
}

.section {
  background-color: rgb(27, 27, 27);
  color: rgb(151, 150, 150);
  padding: 100px 0;

}

.aboutImage {
  max-width: 75%;
}

.skillsSection {
  background-color: rgb(27, 27, 27);
  color: rgb(151, 150, 150);

}


.skill {
  text-align: left;
  margin-left: 10px;
}


.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}



.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.89);
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;

  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}

#navigation {

  padding: 20px 10px;
  z-index: 100;
  width: 100%;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(51, 211, 211) 100%
  );
  
}


.navbar-brand,
.navbar-brand:hover {
  color: #f8f4f4;
  font-size: 34px;

}


/* Optional: Apply some styles to the container for positioning */
.image-container {
    position: relative;
    /*width: 450px; /* Adjust the width as needed */
    /*height: 450px; /* Adjust the height as needed */
    margin: 30px; /* Adjust the margin as needed */
}

/* Optional: Style the image */
.image-container img {
    width: 40%;
    height: 40%;
    object-fit: cover; /* This property ensures the image covers the container */
}
